<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View_Bookings</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Mobile Number</th>
            <th>Email</th>
            <th>Booking Type</th>
            <th>Amount</th>
        </tr>
        {%for bookings in booking %}
        <tr>
            <td>{{booking.name}}</td>
            <td>{{booking.mobile_number}}</td>
            <td>{{booking.email}}</td>
            <td>{{booking.booking_type}}</td>
            <td>{{booking.amount}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>